.section {
    display: grid;
    grid-template-columns: repeat(3, 240px);
    grid-gap: 32px;
    position: relative;
    z-index: 1;
    justify-content: center;
    margin: 10px;
    text-align: center;

}

.card {
    padding: 16px;
    border: 1.5px solid grey;
    background-color: ghostwhite;
    transition: all ease 0.3s;
    border-radius: 15px;
    /* cursor: pointer; */
    position: relative;
    vertical-align:middle;
}

.card:hover {
    box-shadow: 0px 0px 45px -10px slateblue;
    border: 0.2px solid slateblue;
}

.card button .like {
    color: red;
}  

.card button {
    border-radius: 8px;
    border: 1px solid;
    padding: 0.3em 0.6em;
    margin: 0.5rem;
    font-size: 1em;
    font-weight: 500;
    color: white;
    font-family: inherit;
    background-color: blueviolet;
    cursor: pointer;
    transition: border-color 0.25s;
  }
 