.section {
    display: grid;
    grid-template-columns: repeat(3, 240px);
    grid-gap: 32px;
    position: relative;
    z-index: 1;
    justify-content: center;
    margin: 10px;
    text-align: center;

}

.light {
    padding: 16px;
    border: 1.5px solid grey;
    color: black;
    background-color: ghostwhite;
    transition: all ease 0.3s;
    border-radius: 15px;
    position: relative;
    vertical-align:middle;
}

.light:hover {
    box-shadow: 0px 0px 45px -10px slateblue;
    border: 0.2px solid slateblue;
}

.dark {
    padding: 16px;
    border: 1.5px solid grey;
    color: white;
    background-color: rgb(35, 35, 37);
    transition: all ease 0.3s;
    border-radius: 15px;
    position: relative;
    vertical-align:middle;
}

.dark:hover {
    box-shadow: 0px 0px 45px -10px slateblue;
    border: 0.2px solid slateblue;
}

.like {
    color: red;
    background-color: transparent;
}  

button {
    border-radius: 8px;
    border: 1px solid;
    padding: 0.3em 0.6em;
    margin: 0.5rem;
    font-size: 1em;
    font-weight: 500;
    color: white;
    font-family: inherit;
    background-color: blueviolet;
    cursor: pointer;
    transition: border-color 0.25s;
  }