.navbar {
    display: flex;
    font-size: 20px;
    align-items: center;
    position: relative;
    padding: 10px;
    justify-content: space-around;
}
.navbar div {
    display: flex;
    gap: 15px;
}
.navbar a {
    text-decoration: none;
}
.navbar a:hover {
    color: slateblue;
}

.light {
    background-color:aliceblue;
}
.light a {
    color: black;
}

.dark {
    background-color: rgb(17, 18, 34);
}
.dark a {
    color: white;
}

button {
    border-radius: 8px;
    border: 1px solid;
    padding: 0.3em 0.5em;
    font-size: 1em;
    background-color: blueviolet;
    cursor: pointer;
    color: white;
}