.navbar {
    background-color:aliceblue;
    display: flex;
    font-size: 20px;
    gap: 15px;
    justify-content: center;
    align-items: center;
    position: relative;
    padding: 10px;
}

.navbar a {
    color: black;
    text-decoration: none;
}

a:hover {
    color: slateblue
}

.navbar_dark {
    background-color: rgb(17, 18, 34);
    display: flex;
    font-size: 20px;
    gap: 15px;
    justify-content: center;
    position: relative;
    padding: 10px;
}

.navbar_dark a {
    color: white;
    text-decoration: none;
}